//css document
	#menu{ position:relative; top:0; right:0;}
	#menu,#menu ul{ padding:0; margin:0; list-style:none;}
	#menu li{ float:left;background:#fff;}
	#menu a{ dispaly:block; width:8em; padding:3px; cursor:pointer; }
	#menu li ul{ position:absolute; width:200px; left:-999em;}
	#menu li:hover ul,#menu li ul:hover{ left:auto;}
	.wj table tr td:hover{ cursor:pointer;}
	
	//upLoadFile.html
	