{% extends "base.html" %}
{% block title %}
<title>Welcome</title>
{% endblock %}
{% block content_middle %}
<!--电视屏幕-->
<br>
<br>
<br>
<br>
<br>
<br>
        <div class="jumbotron">
	
<!--				<h1>
					Welcome!
				</h1>
				<p>
					用户:吴昊，高远，胡月，周洁，乔莹，朱鼎，黄宇航，涂明杰，刘舜
				</p>
				<p>
					组:运维组、开发组
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="#">Learn more</a>
				</p>
-->
	<div class="row clearfix">
		<div class="col-md-4 column">
			<h2>
				统计	
			</h2>
			<p>
				数目：{{ allFiles }}个<br>
				总大小：	
				{{ allSize.file_size__sum|filesizeformat }}
			</p>
			<p>
				<a class="btn btn-success" href="{% url "file:listPersonal" %}">详情 »</a>
			</p>
		</div>
		<div class="col-md-4 column">
			<h2>
				共享
			</h2>
			<p>
				文档数目：{{ publicFiles }}个<br>
				所有人可以查看、下载
			</p>
			<p>
				<a class="btn btn-success" href="{% url 'file:listPublicFile' %}">详情 »</a>
			</p>
		</div>
		<div class="col-md-4 column">
			<h2>
				项目
			</h2>
			<p>
				项目数量：{{ allProjects }}个<br>
			      	项目文档数量: {{ projectFiles }}
			</p>
			<p>
				<a class="btn btn-success" href="{% url 'file:listAllProjectFile' %}">详情 »</a>
			</p>
                </div>
        </div>

	</div>
<!--电视屏幕-->
<!--三个小屏幕-->
<!--三个小屏幕-->

{% endblock %}
