{% extends "base.html" %}
{% block script %}

{% endblock %}
{% block title %}
<title>项目文档</title>
{% endblock %}

{% block content_left %}
<i class="oneofthree">项目:</i>
<hr>
	<input id="search" class="form-control"  name="search" placeholder="项目名或者文档数" type="text" data-toggle="hideseek" data-list=".list-group">
	<br>
	<ul class="list-group">
	{% for p in publicprojects %}
	<!--
		<div class="list-group-item" project_name="{{ p.name }}" file_count="{{ p.projects__count }}">
		  <span class="badge">{{ p.projects__count }}</span>
		  <abbr title="{{ p.desc }}"><a href="{% url 'file:listProjectfile' p.id %}">{{ p.name }}</a></abbr>
		</div>
	-->
	{% if p.projects__count != 0 %}
	<a href="{% url 'file:listProjectfile' p.id %}" class="list-group-item">
		<span class="badge">{{ p.projects__count }}</span>
		<small>{{ p.name }}</small>
	</a>
	{% endif %}
	{% endfor %}
	</ul>
{% endblock %}

{% block content_middle %}
<i class="oneofthree">项目管理:</i>
<hr>
							{% if allProjects %}
									    <table id='file' class="table table-hover table-condensed table-striped">
										<thead>
											<tr>
												<th>
													#
												</th>
												<th>
													项目名
												</th>
												<th>
													添加时间
												</th>
												<th>
													公开	
												</th>
												<th>
													操作 
												</th>


											</tr>
										</thead>
										<tbody>
										{% for p in allProjects %}
											<tr class="article">
												<td>
													{{ forloop.counter }}
												</td>
												<td class="has_desc">
													{{ p.name }}
													<div class="description" style="display:none"><h3><i>{{ p.desc|default:"无描述" }}</i></h3></div>
												</td>
												<td>
													{{ p.add_date|timesince }}&nbsp;前
												</td>
												<td>
													{{ p.public|default:"否" }}
												</td>
												<td>
													<a href="{% url "file:projectdetail" p.id %}">详情</a>	
									
												</td>
											</tr>
										{% endfor %}
									</table>
							{% else %}
								No project in database.
							{% endif %}
<a href="{% url 'file:createproject' %}" class="btn btn-success">添加</a>
{% endblock %}

{% block content_right %}
<div>
<i class="oneofthree">最近上传:</i>
<hr>
{% for f in recentUploadFile %}
<address>
  <strong style="word-break:break-all">{{ f.file.name }}</strong><br>
  所属项目：{{ f.project }}<br>
  上传时间：{{ f.upload_date }}<br>
  <abbr title="Permited"><a href="{% url "file:download" f.id %}">Download</a></abbr>&nbsp;&nbsp;<!--<abbr title="Permited"><a href="{% url "file:filedetail" f.id %}">Detail</a></abbr>-->
</address>
{% endfor %}
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="/static/js/dataTables_yuan.js"></script>
{% endblock %}
