{% extends "app_filemanager/listProject.html" %}

{% block content_middle %}
<i class="oneofthree">项目文档：</i>
<hr>
							{% if allprojectfile %}
									    <table id='file' class="table table-striped table-bordered" cellspacing="0" width="100%">

										<thead>
											<tr>
												<th>
													#
												</th>
												<th>
													文件名
												</th>
												<th>
													上传于
												</th>
												<th>
													项目
												</th>
 												<th>
													操作 
												</th>
												

											</tr>
										</thead>
										<tbody class= "table-projectfile">
							    {% for file in allprojectfile %}
											<tr class="article">
												<td>
													{{ forloop.counter }}
												</td>
												<td class="has_desc">
													{{ file.file.name|truncatewords:"8" }}
													<div class="description" style="display:none"><h3><i>{{ file.desc|default:"无描述" }}</i></h3></div>
												</td>
												<td>
													{{ file.upload_date|timesince|truncatewords:"1" }}&nbsp;前
												</td>
												<td>
													{{ file.project|default:"无" }}
												</td>
												<td>
													<a href="{% url 'file:filedetail_no_edit' file.id %}">更多</a>
												</td>


											</tr>
							    {% endfor %}
										</tbody>
									</table>
							{% else %}
							  <p>No files are in database.</p>
							{% endif %}
{% endblock %}
