{% extends "app_filemanager/listProject.html" %}

{% block content_middle %}
<h2 class='pull-left'>项目文档：</h2>
	<input id="search" class="form-control pull-right"  name="search" placeholder="过滤" type="text" data-toggle="hideseek" data-list=".table-projectfile">
							{% if allprojectfile %}
									    <table class="table table-hover table-condensed table-striped ">

										<thead>
											<tr>
												<th>
													#
												</th>
												<th>
													文件名
												</th>
												<th>
													上传于
												</th>
												<th>
													项目
												</th>
 												<th>
													操作 
												</th>


											</tr>
										</thead>
										<tbody class= "table-projectfile">
							    {% for file in allprojectfile %}
											<tr>
												<td>
													{{ forloop.counter }}
												</td>
												<td>
													{{ file.file.name|truncatewords:"8" }}
												</td>
												<td>
													{{ file.upload_date|timesince }}&nbsp;前
												</td>
												<td>
													{{ file.project|default:"无" }}
												</td>
												<td>
													<a href="{% url 'file:filedetail_no_edit' file.id %}">更多</a>
												</td>


											</tr>
							    {% endfor %}
										</tbody>
									</table>
							{% else %}
							  <p>No files are in database.</p>
							{% endif %}
{% endblock %}
