{% extends "base.html" %}

{% block content_middle %}
<div class="tabbable" id="tabs-251048">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#panel-379075" data-toggle="tab">私密</a>
					</li>
					<li>
						<a href="#panel-612142" data-toggle="tab">共享</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="panel-379075">
						<p>
							{% if privateFiles %}
									    <table class="table table-hover table-condensed table-striped">
										<thead>
											<tr>
												<th>
												</th>
												<th>
													文件名
												</th>
												<th>
													上传于
												</th>
												<th>
													项目
												</th>
												<th>
													公开 
												</th>
 												<th>
													操作 
												</th>


											</tr>
										</thead>
										<tbody>
							    {% for file in privateFiles %}
											<tr>
												<td>
													{{ forloop.counter }}
												</td>
												<td>
													{{ file.file.name|slice:"7:" }}
												</td>
												<td>
													{{ file.upload_date|timesince }}&nbsp;前
												</td>
												<td>
													{{ file.project|default:"无" }}
												</td>
												<td>
													{{ file.public }}
												</td>
												<td>
													<a href="{% url 'file:download' file.id %}">下载</a>
													<a href="{% url 'file:filedetail' file.id %}">更多</a>
												</td>


											</tr>
							    {% endfor %}
										</tbody>
									</table>
							{% else %}
							  <p>No files are in database.</p>
							{% endif %}

						</p>
					</div>
					<div class="tab-pane" id="panel-612142">
						<p>
								{% if publicFiles %}
									    <table class="table table-hover table-condensed table-striped">
										<thead>
											<tr>
												<th>
												</th>
												<th>
													文件名
												</th>
												<th>
													上传于
												</th>
												<th>
													项目
												</th>
												<th>
													公开 
												</th>
												<th>
													操作 
												</th>


											</tr>
										</thead>
										<tbody>
							    {% for file in publicFiles %}
											<tr>
												<td>
													{{ forloop.counter }}
												</td>
												<td>
													{{ file.file.name|slice:"7:" }}
												</td>
												<td>
													{{ file.upload_date|timesince }}&nbsp;前
												</td>
												<td>
													{{ file.project|default:"无" }}
												</td>
												<td>
													{{ file.public }}
												</td>
												<td>    
													<a href="{% url 'file:download' file.id %}">下载</a>
													<a href="{% url 'file:filedetail' file.id %}">更多</a>
												</td>


											</tr>
							    {% endfor %}
										</tbody>
									</table>
							{% else %}
							  <p>No files are in database.</p>
							{% endif %}

						</p>
					</div>
				</div>
</div>
{% endblock %}
