{% extends "base.html" %}
{% block content_left %}
<div class="alert alert-success alert-dismissable">
	 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				 <strong>注意!</strong>只有在项目为空，且没选择公开的情况下，文件才属于个人可见 
</div>
{% endblock %}
{% block content_middle %}
<!--<div class="alert alert-success alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    提示，上传文件限制20M以下
</div>-->
{% if form.is_multipart %}
    <form enctype="multipart/form-data" method="post">
{% else %}
    <form method="post">
{% endif %}
{% csrf_token %}

<div class="form-group">
	<li>
	  <label for="id_project">{{ form.project.label }}</label><a type="button" class="btn" href="{% url "file:listProject" %}">项目管理</a>
	  {{ form.project.errors }}</ul>
	  {{ form.project }}
	</li>
	<li>
	  <label for="id_tag">{{ form.tag.label }}</label>
	  {{ form.tag.errors }}
	  {{ form.tag }}
	  <span class="helptext">{{ form.tag.help_text }}</span>
	<a href="/admin/app_filemanager/tag/add/" class="add-another" id="add_id_tag" onclick="return showAddAnotherPopup(this);"> <img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="Add Another"/>    </a>
	</li>
	<li>
	  <label for="id_group">{{ form.group.label }}</label>
	  {{ form.group }}
	  {{ form.group.errors }}
	  <span class="helptext">{{ form.group.help_text }}</span>
	</li>
	<li>
	  <label id="id_desc">{{ form.desc.label }}</label>
	  {{ form.desc.errors }}
	  {{ form.desc }}
	  <span class="helptext">{{ form.desc.help_text }}</span>
	</li>
	<li>
	<label for="id_file">{{ form.file.label }}</label>
			     {{ form.file }}
	<span class="helptext">{{ form.file.help_text }}</span>
	</li>
	<li>
	  <label class="id_public">{{ form.public.label }}<label>
	  {{ form.public }}
	</li>
	---------------------------
</div>
<style type="text/css">
    ul.errorlist {
        margin: 0;
        padding: 0;
    }
    .errorlist li {
        background-color: red;
        color: white;
        display: block;
        font-size: 12px;
        margin: 0 0 3px;
        padding: 4px 5px;
    }
    .helptext {
        font-size: 10px !important;
        color: #999;
    }
    label {
        color: #0C3C26;
    }
</style>

<button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}
